In [1]:
import pandas as pd

df = pd.read_csv("balance.txt", delim_whitespace=True)

In [2]:
ethn_inc_mean = df.groupby("Ethnicity")["Income"].mean()
print("Average Income by Ethnicity:\n", ethn_inc_mean)

Average Income by Ethnicity:
 Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [3]:
marital_balance = df.groupby("Married")["Balance"].mean()
print("Average Balance by Marital Status:\n", marital_balance)

Average Balance by Marital Status:
 Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [4]:
highest_income = df["Income"].max()
lowest_income = df["Income"].min()
print("Highest Income: ", highest_income)
print("Lowest Income: ", lowest_income)

Highest Income:  186.634
Lowest Income:  10.354

In [5]:
total_cards = df["Cards"].sum()
print("Total Cards: ", total_cards)

Total Cards:  1183

In [6]:
num_females = df[df["Gender"] == "Female"]["Gender"].count()
num_males = df[df["Gender"] == "Male"]["Gender"].count()
print("Number of Females: ", num_females)
print("Number of Males: ", num_males)

Number of Females:  207
Number of Males:  193